{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if dragqueen %}
    <h1>Edit {{ dragqueen.name }}</h1>
    {% else %}
    <h1>Add a Queen</h1>
  {% endif %}
  <img src="{% static 'images/alaska.png' %}" alt="Alaska"/>
</div>
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table class="add-queen">
    <tbody>
      {% for field in form %}
      <tr>
        <td class="label">
          {% if field.name == 'allstars' %}
            All Stars:
          {% elif field.name == 'winnerofallstars' %}
            Winner of All Stars:
          {% elif field.name == 'instagramhandle' %}
            Instagram Handle:
          {% else %}
            {{ field.label_tag }}
          {% endif %}
        </td>
        <td class="field {% if field.name == 'winner' or field.name == 'winnerofallstars' or field.name == 'instagramhandle' %}left-align{% endif %}">
          {{ field }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>
{% endblock %}