{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>

<script defer src="{% static 'js/performance-form.js' %}"></script>
{% endblock %}

{% block content %}
<div class="page-header">
  {% if object %}
    <h1>Edit {{object.show}}</h1>
  {% else %}
    <h1>Add a Performance</h1>
  {% endif %}
  <img src="{% static 'images/biancadelrio.png' %}" alt="Bianca Del Rio"/>
</div>
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table class="add-performance">
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit" id="performance-btn">Submit!</button>
</form>

{% endblock %}