{% extends 'base.html' %} 
{% load static %}

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/performances/performance-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Performances</h1>
  <img src="{% static 'images/alaska.png' %}" alt="Alaska" />
  <img src="{% static 'images/biancadelrio.png' %}" alt="Bianca Del Rio" />
  <img src="{% static 'images/bobthedragqueen.png' %}" alt="Bob the Drag Queen" />
  <img src="{% static 'images/katya.png' %}" alt="Katya Zamolodchikova" />
</section>

<section class="card-container">
  {% for performance in performance_list %}
  <div class="card">
    <div class="card-bg">
      <a href="{% url 'performance-detail' performance.id %}">
        <div class="card-content">
          <img 
          src="{% static 'images/shangelaperforming.png' %}" 
          alt="Shangela Performing"
          class="shangela-performing"
        >
          <h2>{{ performance.show }}</h2>
          <p>Date: {{ performance.date }} </p>
          <p>Time: {{ performance.time}}</p>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}