{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dragqueens/dragqueen-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Drag Queen List</h1>
  <img src="{% static 'images/alaska.png' %}" alt="Alaska" />
  <img src="{% static 'images/biancadelrio.png' %}" alt="Bianca Del Rio" />
  <img src="{% static 'images/bobthedragqueen.png' %}" alt="Bob the Drag Queen" />
  <img src="{% static 'images/shangela.png' %}" alt="Shangela" />
</section>

<section class="card-container">
  {% for dragqueen in dragqueens %}
    <div class="card">
      <a href="{% url 'dragqueen-detail' dragqueen.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/katya.png' %}" 
              alt="Katya"
              class="katya-img"
            >
          </div>
          <h2 class="card-title">{{ dragqueen.name }}</h2>
          {% if dragqueen.winner %}
            <p>A winner, darling, on season {{ dragqueen.season }}</p>
          {% elif dragqueen.winnerofallstars %}
            <p>A winner, darling, on all-stars season {{ dragqueen.allstars}}
          {% elif dragqueen.allstars %}
            <p>A winner in our hearts on season {{ dragqueen.season }} and all-stars season {{dragqueen.allstars}}</p>
          {% else %}
            <p>There's always All-Stars!</p>
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}