{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page-header">
  <h1 class='titletext'>About the Drag Queen Collector</h1>
  <img 
    src="{% static 'images/rupaul2.png' %}" 
    alt="Rupaul"
    class="rupaul-about"
  >
</section>
<section class="description-about">
  <h4>Drag Queen Collector has been created to celebrate the art form of drag.🌈💄</h4>
</section>
<div class="aboutcard">
  <img 
  src="{% static 'images/quote.png' %}" 
  alt="quote"
  class="quote"
>
  <h2>If you can't love yourself,</h2>
  <h2>how in the hell</h2>
  <h2>are you gonna love somebody </h2>
  <h2>else?</h2>
  <h3 class="italic"> RUPAUL CHARLES</h3>
</div>

{% endblock %}