input[type="checkbox"] {
  max-width: 5%;
  float: left;
}

input[type="text"] {
  max-width: 50%;
}

input[type="url"] {
  max-width: 50%;
}

input[type="number"] {
  max-width: 50%
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label{
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-align: left;
}

#left-align{
  display: flex;
  justify-content: flex-start;
}

#id-winner {
  order: -1;
  width: 100%
}

.left-align {
  margin: 0px;
  padding: 0;
}

table {
  padding: 0 40px;
  width: 100%;
  border-spacing: 0 20px;
  justify-content: flex-start;
}

th {
  text-align: left;
  padding: 6px 20px 0 0;
  font-weight: normal;
  vertical-align: top;
  font-size: var(--font-reg);
  justify-content: flex-start;
}

td {
  max-width: 60%;
  justify-content: flex-start;
}

td > * {
  width: 100%;
  padding: 0px;
  font-size: var(--font-l);
}

td > textarea {
  height: calc(4 * var(--font-l) + 8px);
  font-family: inherit;
}

.btn {
  align-self: flex-end;
  margin-right: 40%;
}

#performance-btn{
  margin-right: 50%;
}