.header-logo-container{
  margin-bottom: 10px;
}

.dragqueen-container {
  padding: 35px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #f543a1 solid 2px;
  box-shadow:  5px 5px 6px -1px #AAA;
  margin-bottom: 40px;
}

.pink {
  color: #f543a1;
}

#here:hover{
  color: #f50887;
  text-decoration: underline;
}

.rupaul-img {
  width: 30%;
  max-width: 100px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.katya-img,
.rupaul-card-img,
.alaska-img,
.alyssa-img, 
.dela-img,
.bianca-img,
.latrice-img,
.manila-img,
.willam-img,
.shangela-img,
.bob-img,
.trixie-img,
.kimchi-img,
.monet-img,
.violet-img,
.detox-img {
  width: 75%;
  max-width: 350px;
  margin-left: 40px;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.dragqueen-details {
  width: 98%;
}

.dragqueen-actions {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.outfitheader {
  margin: 0;
  padding:0;
}

.dressed,
.performing,
.past-outfits {
  font-size: 18px;
  color: #f543a1;
  margin: 0;
  padding:0;
}

p.no-performances {
  color: #f543a1;
  margin: 0;
  padding:0;
  align-items: left;
}

.outfits-performances-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
}

.subsection-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.performance-container a {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.performance-container a h3 {
  font-size: 20px;
}

.no-performances,
.all-performances {
  margin: 0;
  font-weight: bold;
}

.no-performances {
  color: var(--danger);
}

.all-performances {
  color: var(--submit);
}

.dragqueen-details h1 {
  font-size: var(--font-xxl);
  margin: 15px 0 3px;
}

.dragqueen-details h2 {
  font-size: var(--font-xl);
  margin: 0 0 10px;
  margin-top: 0;
  margin-bottom: 10px;
}

.dragqueen-details h3 {
  margin: 20px 0 10px;
  font-size: var(--font-l);
}

.dragqueen-details p {
  font-size: var(--font-reg);
  margin: 5px 0;
}

.outfits-performances-container > section {
  width: 80%;
  min-width: 360px;
  border: var(--borders);
  border-radius: var(--card-border-radius);
  padding: 10px;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.subsection-title img {
  height: 42px;
  margin-left: 8px;
}

.subsection-title img:first-of-type {
  margin-left: 16px;
}

.outfits h2,
.performances h2 {
  font-size: 3.2rem;
  margin: 0;
}

.outfits h3,
.performances h3 {
  font-size: var(--font-xl);
  margin: 10px 0;
}

.subsection-content p,
.subsection-content input,
.subsection-content select {
  font-size: var(--font-l);
}

.subsection-content input,
.subsection-content select {
  margin-left: 5px;
  padding: 3px;
}

.outfits table,
.performances table {
  width: calc(100% - 16px);
  text-align: left;
  border-collapse: collapse;
}

.outfits td,
.performances td {
  padding: 8px 5px;
  font-size: var(--font-reg);
}

.outfits th,
.performances th {
  font-size: var(--font-l);
  padding: 5px 5px 0;
  font: black;
  border-bottom: black solid 2px;
}

.outfits tr:nth-child(even) {
  background-color: #f3f3fd;
}

.performances-container p {
  margin: 12px 0;
}

.performances-container a {
  text-decoration: none;
  color: #111;
}

.performances-container .btn {
  padding: 3px 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#file-input {
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  height: 0.1px;
}

#file-name {
  margin-bottom: 10px;
}

a.warn, a.danger {
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .dragqueen-container {
    padding: 35px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
  }

  .katya-img {
    width: 75%;
    max-width: 250px;
    margin-right: 25px;
  }

  .outfits-performances-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .outfits-performances-container > section {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) {
  .outfits-performances-container {
    padding: 0 40px;
  }
}