.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 10px;
  border: var(--borders);
  box-shadow: var(--card-box-shadow);
}

.card:hover{
  background-color: black;
}
.card-content {
  padding: 10px;
  width: 100%;
}

.card-img-container {
  max-width: 80%;
  height: 50%;
}

.katya-img {
  max-width: 80%;
  height: 50%;
}


.rupaul-card-img {
  max-width: 80%;
  height: 50%;
}

.alaska-img {
  max-width: 80%;
  height: 50%;
}

.alyssa-img {
  max-width: 80%;
  height: 50%;
}

.dela-img {
  max-width: 80%;
  height: 50%;
}

.bianca-img {
  max-width: 80%;
  height: 50%;
}

.latrice-img {
  max-width: 80%;
  height: 50%;
}

.manila-img{
  max-width: 80%;
  height: 50%;
}

.willam-img {
  max-width: 80%;
  height: 50%;
}

.shangela-img {
  max-width: 80%;
  height: 50%;
}

.bob-img {
  max-width: 80%;
  height: 50%;
}

.trixie-img {
  max-width: 80%;
  height: 50%;
}

.kimchi-img{
  max-width: 80%;
  height: 50%;
}

.monet-img{
  max-width: 80%;
  height: 50%;
}

.violet-img{
  max-width: 80%;
  height: 50%;
}

.detox-img{
  max-width: 80%;
  height: 50%;
}

.usr-img {
  width: 100%;
  border-radius: var(--card-border-radius);
}

.card > a {
  text-decoration: none;
  color: var(--text-color);
}

.card h2 {
  margin: 10px 0;
  font-size: var(--font-xl);
}

.card p {
  margin: 5px 0;
  font-size: var(--font-reg);
}